@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-button {
    @apply bg-[#8257e55d] rounded-lg p-3 relative hover:bg-[#8257e59d] transition-all;
  }

  .completed-button {
    @apply text-blue-300 p-1 bg-[#8257e55d] rounded-lg disabled:cursor-not-allowed ;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
